<div
  class="d-flex flex-column min-vh-100  align-items-center pt-3"
>
  <mat-card class="w-100 mb-3">
    <mat-card-content class="d-flex align-items-center justify-content-between">
      <strong>{{ fullDate | date }}</strong>
      <mat-icon>calendar_today</mat-icon>
    </mat-card-content>
  </mat-card>

  <app-payment-card [card]="currentCard"></app-payment-card>

  <div class="mt-4 w-100">
  <app-payment-card-info [card]="currentCard"></app-payment-card-info>

  </div>


  
</div>
