<div class="d-flex flex-column min-vh-100 align-items-center pt-3">
  <ng-container
    *ngFor="let card of profileBehaviorService.currentProfile?.cards"
  >
    <app-payment-card [card]="card" style="cursor: pointer" (click)="card.show = !card.show"></app-payment-card>

    <div class="mt-4 w-100" *ngIf="card.show">
      <app-payment-card-info [card]="card"></app-payment-card-info>
    </div>
    <hr />
  </ng-container>
</div>
