<div class="payment-card" [ngClass]="card?.bank">
    <div class="chip">
        <img src="./assets/images/card-chip.png" alt="Card chip" id="chip">

    </div>
    <div class="payment-network">
        <img [src]="'./assets/images/' + card?.network + '-logo.png'" alt="Payment network" [id]="card?.network + '-logo'">
    </div>
    <div class="name">{{profileBehaviorService.currentProfile?.id | uppercase}}</div>
    <div class="bank">
        <img [src]="'./assets/images/' + card?.bank + '-logo.png'" alt="Bank logo" [id]="card?.bank + '-logo'">

    </div>
    <div class="number">**** **** **** {{cardNumber}}</div>
</div>

