$left: 25px
$right: $left
$top: 12px
$bottom: $top
  
.payment-card
  position: relative
  height: 180px
  width: 300px
  border-radius: 10px
  -webkit-box-shadow: 5px 5px 17px -8px rgba(0,0,0,0.75)
  -moz-box-shadow: 5px 5px 17px -8px rgba(0,0,0,0.75)
  box-shadow: 5px 5px 17px -8px rgba(0,0,0,0.75)

  .name
    position: absolute
    bottom: $bottom + 5px
    left: $left
    font-weight: 500
    font-size: 12pt

  .number
    position: absolute
    bottom: $bottom + 40px
    left: $left
    font-weight: 550
    font-size: 15pt

  .payment-network
    position: absolute
    right: $right
    top: $top

    #visa-logo
      width: 60px
      margin-top: 5px
    
    #mastercard-logo
      margin-top: 5px
      width: 60px

  .chip
    position: absolute
    bottom:  $bottom + 60px
    left: $left

    #chip
      width: 40px

  .bank
    position: absolute
    left: $left
    top: $top

    #hsbc-logo
      width: 70px

    #bbva-logo
      margin-top: 8px
      width: 70px
    
    #hey_banco-logo
      margin-top: 3px
      width: 70px
    
    #rappi-logo
      margin-top: 3px
      width: 40px
    
    #nu-logo
      margin-top: 5px
      width: 50px

    #mercado_pago-logo
      width: 80px

    #klar-logo
      width: 50px

.bbva
  background: rgb(153,153,153)
  background: linear-gradient(25deg, rgba(153,153,153,1) 0%, rgba(218,218,218,1) 51%, rgba(153,153,153,1) 100%)

.hsbc
  background: rgb(244,244,244)
  background: linear-gradient(25deg, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 51%, rgba(237,237,237,1) 100%)

.hey_banco
  background: rgb(0,0,0)
  background: linear-gradient(117deg, rgba(0,0,0,1) 0%, rgba(54,54,54,1) 51%, rgba(0,0,0,1) 100%)
  color: #c0c0c0

.rappi
  background: rgb(255,98,0)
  background: linear-gradient(117deg, rgba(255,98,0,1) 0%, rgba(255,151,85,1) 51%, rgba(255,98,0,1) 100%)

.nu
  background: rgb(92,0,112)
  background: linear-gradient(197deg, rgba(92,0,112,1) 0%, rgba(170,0,208,1) 51%, rgba(92,0,112,1) 100%)
  color: #c0c0c0

.mercado_pago
  background: rgb(2,0,36)
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,60,71,1) 46%, rgba(41,123,140,1) 100%)
  color: #c0c0c0

.klar
  background: rgb(23,121,114)
  background: linear-gradient(90deg, rgba(23,121,114,1) 0%, rgba(239,250,255,1) 100%, rgba(236,246,255,1) 100%)
