<div class="container py-3">
  <button class="w-100" mat-button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="goTo('cards')">Cards</button>
    <button mat-menu-item (click)="goTo('current-card')">Current card</button>
  </mat-menu>
  <router-outlet></router-outlet>
</div>
