<mat-card class="w-100">
    <mat-card-header>
      <mat-card-title>{{ card?.alias }}</mat-card-title>
      <mat-card-subtitle>Bank: {{ card?.bank | bankName }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        <span>Cut off day: </span>
        <strong>{{ card?.cutOffDate }}</strong>
      </div>
      <div>
        <span>Payment due day: </span>
        <strong>{{ card?.paymentDueDate }}</strong>
      </div>
      <div class="mt-3">
        <span class="h5 font-weight-bold">Cards</span>
        <div *ngFor="let number of card?.numbers">
         <strong>**** **** **** {{number.endingDigits}}</strong>&nbsp;<span class="text-muted">({{number.type | titlecase}})</span> 
        </div>
      </div>
    </mat-card-content>
  </mat-card>